@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}
.glow {
  box-shadow: 0 0 10px rgba(133, 13, 245, 0.8);
}
.textglow {
  text-shadow: 0 0 10px rgba(137, 11, 255, 0.8);
}
.greenTextGlow {
  text-shadow: 0 0 10px rgba(96, 255, 11, 0.8);
}

.hover\:glow:hover {
  box-shadow: 0 0 10px rgba(133, 13, 245, 0.8);
}

.nav-item:hover {
  transform: scale(1.05);
  text-decoration: underline;
  transition: transform 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}
